*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

app/src/main/java/com/dirror/music/ui/activity/Ignore.kt
app/src/main/java/com/dirror/music/widget/lyricBackground/LyricsBackgroundView.java
app/libs/
app/src/main/res/drawable-v24/
